 <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas h-100 position-fixed py-5" id="sidebar">
      <ul class="nav py-5">
        <li class="nav-item nav-category">Main Menu</li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/dash">
            <i class="menu-icon typcn typcn-document-text"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/manage">
            <i class="menu-icon typcn typcn-shopping-bag"></i>
            <span class="menu-title">Manage Interns</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/message">
            <i class="menu-icon typcn typcn-th-large-outline"></i>
            <span class="menu-title">Message</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/profile">
            <i class="menu-icon typcn typcn-bell"></i>
            <span class="menu-title">Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/notification">
            <i class="menu-icon typcn typcn-user-outline"></i>
            <span class="menu-title">Notifications</span>
            <div class="dot-indicator bg-success ml-2"></div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/settings">
            <i class="menu-icon typcn typcn-user-outline"></i>
            <span class="menu-title">Setting</span>
          </a>
        </li>
      </ul>
    </nav>